PORT=5000
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000

# WampServer MySQL (default settings — no password)
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=blockvote

# Change this to any long random string
JWT_SECRET=blockvote_fyp_2025_change_this

# Your MetaMask wallet address (deployer) — lowercase, with 0x
OWNER_WALLET=0xyour_metamask_wallet_address_here

